<!DOCTYPE html>
<html ng-app='giphy'>
<head>
  <title>Giphy2</title>
  <meta charset='utf8'>
</head>
<body ng-controller="MessagesController as messages">

  <div ng-repeat='giph in messages.giphs'>
    <img ng-src="{{giph.images.downsized.url}}"></img>
  </div>

  <form ng-submit="messages.addMessage(messages.text)">
    <input ng-model="messages.text" type='text'>
  </form>

  <div ng-repeat='message in messages.data'>{{ message.text }}</div>


  <script src='config.js'></script>
  <script src='.././bower_components/angular/angular.js'></script>
  <script src='.././bower_components/angularfire/dist/angularfire.js'></script>
  <script src='.././bower_components/firebase/firebase.js'></script>
  <script src='app.js'></script>
</body>
</html>